/* Write your CSS code here */
.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: right;
}
.list-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 140px;
}
.logo {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.currency-box {
  width: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.value {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
}
